{% extends 'base.html' %}
{% block container %}
    <div class="col-md-8 offset-md-2 mt-5">
        <div>
            <h1>{{ post.titulo }}</h1>
            <small>
                {{ post.criado_em.date }} |&nbsp;
                Categorias:&nbsp;
                {% for categoria in post.categorias.all %}
                    <a href="">
                        {{ categoria.nome }}
                    </a>&nbsp;
                {% endfor %}
            </small>
            <p>{{ post.conteudo | linebreaks }}</p>
        </div>
        <div class="mt-5">
            <h3>Comentários:</h3>
            {% for comentario in comentarios %}
                <p class="mt-5">
                    {{ comentario.mensagem }}
                    <br>
                    Por <b>{{ comentario.autor }}</b> em {{ comentario.criado_em }}
                </p>
                <hr>
            {% endfor %}
        </div>
        <div class="my-5">
            <h3>Comentar:</h3>
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.autor }}
                </div>
                <div class="form-group">
                    {{ form.mensagem }}
                </div>
                <button type="submit" class="btn btn-primary">Comentar</button>
            </form>
        </div>
    </div>
{% endblock %}