{% extends 'base.html' %}

{% block title %}
    Categorias
{% endblock %}

{% block container %}
    <h1 class="mt-5">Categorias</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th>Nome</th>
        </tr>
        </thead>
        <tbody>
        {% for categoria in categorias %}
            <tr>
                <th scope="row">{{ categoria.id }}</th>
                <td>{{ categoria.nome }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}